Source: elliptics
Section: net
Priority: optional
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends:	cdbs,
		cmake (>= 2.6),
		debhelper (>= 7.0.50~),
		eblob (>= 0.23.11),
		blackhole-migration-dev,
		libboost-dev,
		libboost-iostreams-dev,
		libboost-program-options-dev,
		libboost-python-dev,
		libboost-system-dev,
		libboost-thread-dev,
		libboost-filesystem-dev,
		libcocaine-core3,
		libcocaine-dev (= 0.12.7.3+nmu1),
		libltdl-dev,
		libmsgpack-dev,
		python-dev,
		python-central | dh-python,
		python-pip,
		python-virtualenv,
		msgpack-python | python-msgpack,
		handystats (>= 1.10.2)
Standards-Version: 3.8.0
Homepage: http://www.ioremap.net/projects/elliptics
XS-Python-Version: >= 2.6

# Package: elliptics-cocaine-v12
# Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}, eblob (>= 0.23.11), elliptics-client-cocaine-v12 (= ${Source-Version}), libcocaine-core3, handystats (>= 1.10.0)
# Replaces: elliptics-2.10, srw, elliptics
# Provides: elliptics-2.10, elliptics
# Conflicts: elliptics
# Description: Distributed hash table storage
#  Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-client-cocaine-v12
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, msgpack-python | python-msgpack, handystats (>= 1.10.0)
Replaces: elliptics-2.10, elliptics-client
Provides: elliptics-client
Conflicts: elliptics-client
Description: Distributed hash table storage (client library)
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: libcocaine-plugin-elliptics3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, elliptics-client-cocaine-v12 (= ${Source-Version})
Description: Distributed hash table storage (cocaine plugin)
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: libcocaine-plugin-elliptics-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cocaine-framework-native-dev (>= 0.10.6.0)
Description: Distributed hash table storage (cocaine plugin includes)
 Elliptics network is a fault tolerant distributed hash table object storage.

# Package: elliptics-cocaine-v12-dbg
# Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}, elliptics-cocaine-v12 (= ${Source-Version}) | elliptics-client-cocaine-v12 (= ${Source-Version})
# Replaces: elliptics-dbg-2.10, srw-dbg, elliptics-dbg
# Provides: elliptics-dbg-2.10, elliptics-dbg
# Conflicts: elliptics-dbg
# Description: Distributed hash table storage (debug files)
#  Elliptics network is a fault tolerant distributed hash table object storage.

# Package: elliptics-cocaine-v12-dev
# Architecture: any
# Depends: elliptics-client-cocaine-v12 (= ${Source-Version}), blackhole-dev
# Replaces: elliptics-dev
# Conflicts: elliptics-dev
# Provides: elliptics-dev
# Description: Distributed hash table storage (includes)
#  Elliptics network is a fault tolerant distributed hash table object storage.
